* {
	background-color: #3D7EAA;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

img {
	padding-top: 10px; 
}

.album-info a:link,
a:visited {
	color: black;
}

.table th {
	background-color: yellow;
	text-align: center;
}

#t-col1 {
	width: 10%;
}

#t-col2 {
	width: 80%;
}

#t-col3 {
	width: 10%;
}

.table-striped > tbody > tr:nth-child(odd) > td {
	background-color: #DE6262;
}
