
.title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

div.nav-bar a {
	margin-right: 10px;
	margin-left: 10px;
}

a:visited {
	color: red;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

.welcome {
	background-color: #FFEEEE;
}

.beverages {
	background-color: #FFEEEE;
}

.menu_items h3 {
	text-decoration: underline;
}

.beverages h3 {
	text-decoration: underline;
}

table {
	margin: auto;
}

tbody td {
	padding-right: 7px;
}

.form {
	background-color: #FFEEEE;
}

.f-label {
	font-weight: bold;
}

footer {
	text-align: center;
}