body {
    font-family: 'Inconsolata', ;
    color: black;
    min-height: 100%;
}

body.landing {
    background-color: rgb(95,92,88);
/*    grey/ash color family */
}

.header {
    width:100%;
    height:100%;
    height:350px;
    background-image: url(../images/glacier.jpg);
    background-color: white;
    background-size:cover;
}

.header img {
  width:90%;
}

.logo {
    color:white;
    font-weight:800;
    font-size: 5em;
    padding:20px;
    text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.recent-post-1{
    text-align: right;
    
}

.recent-post-2{
    text-align: left;
    
}

.recent-post-3{
    text-align: right;
    
}
