body {
    font-family: 'Open Sans';
    color: black;
    min-height: 100%;
}

body {
    background-color: rgb(198,199,160);
}

.header {
    width:100%;
    height:100%;
    height:350px;
    background-image: url(../images/glacier.jpg);
    background-size:cover;
    color: white;
}

.header img {
  width:90%;
}

.logo {
    color:white;
    font-weight:800;
    font-size: 5em;
    padding:20px;
    text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.welcome {
    color:black;
}

.recent-three {
    color:black;
}

.recent-post-1{
    text-align: right;
    
}

.recent-post-2{
    text-align: left;
    
}

.recent-post-3{
    text-align: right;
    
}
