* {
	color: black;
	font-family: 'Raleway', sans-serif;
}

.nav {
	background-color: #CCCCB2;
}

.carousel {
	margin: auto;
	max-width: 80%;
}

div.item img {
	margin: auto;
}

div.item .carousel-caption {
	position: relative;
	left: auto;
	right: auto;
	background: #2BC0E4;
}

.beverages h3 {
	text-decoration: underline;
}

table {
	margin: auto;
}

tbody td {
	padding: 4px;
}

.f-label {
	text-align: right;
}

.f-left {
	text-align: left;
}

#hr-bt {
	border-width: 5px;
}

footer hr {
	border-width: 5px;
}

footer {
	background-color: #FAFAFA;
}

