* {
	background-color: #3D7EAA;
}

.album_img {
	background-image: url("../vessel_v4.jpg");
	height: 307px;
	width: 307px;
	margin: auto;
}

a:link {
	text-decoration: none;
	font-size: 1.25em;
}

a:hover {
	background-color: #DE6262;
	text-decoration: underline;
}

#title, #the_band {
	font-family: 'Montserrat', sans-serif;
}

table {
	width: 90%; 
	border: 2px solid black; 
	border-collapse: collapse; 
	text-align: center;
}

thead th {
	background-color: yellow;
}

tbody td {
	background-color: #DE6262;
}

td {
	font-style: italic;
}
