* {
	color: black;
	font-family: 'Raleway', sans-serif;
}

.nav {
	background-color: #CCCCB2;
}

.beverages h3 {
	text-decoration: underline;
}

table {
	margin: auto;
}

tbody td {
	padding: 4px;
}

.f-label {
	text-align: right;
}

.f-left {
	text-align: left;
}

#hr-bt {
	border-width: 5px;
}

footer hr {
	border-width: 5px;
}

