
.title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

div.nav-bar a {
	margin-right: 10px;
	margin-left: 10px;
}

.menu {
	background-color: #FFEEEE;
}

.form {
	background-color: #FFEEEE;
}

.f-label {
	font-weight: bold;
}

footer {
	text-align: center;
}