* {
	background-color: #3D7EAA;
}

.album_img {
	background-image: url("../vessel_v3.jpg");
	height: 307px;
	width: 307px;
	margin: auto;
}

#title, #the_band {
	font-family: 'Montserrat', sans-serif;
}

table {
	width: 90%; 
	border: black; 
	border-style: solid; 
	text-align: center
}