.lead {
	background: #f857a6; 
	background: -webkit-linear-gradient(to left, #f857a6 , #ff5858);
	background: linear-gradient(to left, #f857a6 , #ff5858);
}

img {
	padding: 10px;
}

th, td {
	font-size: 20px;
}
